
.nav-btn {
    margin: 5px;
    background: rgba(255,255,0,1) !important;
    width: 130px;
}

.nav-btn:hover {
    background: rgba(255,0,0,1) !important;
}

.active-btn {
    background: rgba(0,0,255,1) !important;
}