.aboutme-outer {
    min-height: var(--page-height);
    width: 100%;
    background: var(--background);
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.aboutme-inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap:0;
}
.aboutme-content {
    width: 100%;
    display: flex;
    justify-content: center;
}
.pp-container {
    max-width: 600px;
    width: 90%;
    height: auto;
    background: var(--accent);

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    border: 5px double var(--primary);
    border-radius: 50px;
}
.aboutme-text {
    width: 80%;
    margin-left: 10%;
    text-align: left;
    font-size: larger;
}

.aboutme-outer-flex {
    min-height: 100%;
    width: 100%;
    background: var(--background);
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    gap:50px;
}

@media (max-width: 1000px) {
    .aboutme-outer-flex {
        flex-direction: column;
    }

    .aboutme-content {
        width: 90%;
        height: 45%;
        margin-left: 5%;
    }
}