.contact-outer {
    height: var(--page-height);
    width: 100%;
    background: darkred;
}
.contact-outer>form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact-outer>form>input {
    width: 500px;
}

.form-div {
    display: flex;
    justify-content: flex-start;
    align-items: end;
    gap: 5px;
}

.form-div>input {
    width: 100px;
    height: 80px;
    background: green;
}
.form-div>textarea {
    resize: none;
    width: 500px;
    height: 200px;
}