
.homepage-outer {
    height: calc(var(--page-height) - var(--navbar-height));
    width: 100%;
    background: var(--background);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.homepage-content {
    margin-top: 2.5%;
    width: 45%;
    height: calc(var(--page-height) - var(--navbar-height) - 10%);
}

.homepage-anim {
    width: auto;
    height: 100%;
    min-width: 200px !important;
}

.homepage-fancy-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-fancy-title>h1 {
    font-size: max(8vw, 50px);
}

.fancy-text {
    background: linear-gradient(120deg, var(--primary), var(--accent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: max(9vw, 50px);
}

/*RESPONSIVENESS*/

@media (max-width: 1000px) {
    .homepage-outer {
        flex-direction: column;
    }

    .homepage-content {
        width: 90%;
        height: 45%;
        margin-left: 5%;
    }
}