.outer-navigation {
    background: var(--background);
    width: 100%;
    height: var(--navbar-height);
    max-height: 15vh;

    display: flex;
    justify-content: space-between;


    border-bottom: 2px var(--secondary) solid;
}

.navigation-links {
    display: flex;
    align-items: center;
    gap:5px;
}

.navigation-btn {
    background: var(--primary);
    border: 5px double var(--secondary);
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin:10px;
    width: 120px;
    height: 50px;

    font-family: 'Poppins', sans-serif;

}

.navigation-btn:hover {
    text-shadow: #000055 1px 0 10px;
    cursor: pointer;
}
@media only screen and (max-width: 880px) {
    .outer-navigation {
        justify-content: center !important;
    }
}