.projects-outer {
    min-height: var(--page-height);
    width: 100%;
    background: var(--background);
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;

    padding-top: 10px;
    padding-bottom: 10px;

    width: calc(100% - 100px);
}
#projects-show-more {
    width: calc(100% - 100px);
    height: 50px;

    background: var(--primary);
    border: var(--accent);
}

.projects-content {
    min-width: 375px;
    width: 375px;
    height: 600px;
    background: var(--accent);

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    border: 5px double var(--primary);
    border-radius: 50px;
}
.projects-content-img {
    width:  80%;
    height: auto;
    color: white;
    margin-top: 10px;
}
